* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/*head*/

/*Just found out the issue with making side space by declaring padding in %. Sick... if in this case u will change width of window, u'll see case of issue. 
Don't do that thing! If u want to make free space, u should use margin-left/right auto
and nest one more container between items and parent div.  */
.header {
    background-color: #1f2937;
}

.head-in {
    color: #f9faf8;
    height: 80px; 
    max-width: 80rem;
    padding: 16px 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

a:hover {
    color: tomato
}



/*body*/

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

/*First Block*/

.block {
    height: 480px;
    padding: 10%;
    display: flex;  
}

.first {
    background-color: #1f2937; /*Just remembered that i can group similar by structure divs, give more than one name to them for sake of optimisation*/
    gap: 0 40px; /*Иными словами, вспомнил что можно контейнерам давать через пробел названия и отдельно от каждого слова задавать им параметры. Это очень удобно, так как не надо тратить строки на то, что бы задать параметры стиля одинаковым контейнерам*/
}

.first > * {
    flex-basis: 100%;  /*whoah! this thing is amazing! I didn't know how to deal with unequal propotions of divs*/
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

h4 {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
    padding: 8px 0 16px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 28px;
    border-radius: 8px;
    border: 1px solid #3882f6;
    font-weight: 700;
}

img {
    height: 253.41px;
    width: 499.2px;
}

/*Second Block*/

